<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
    <body>
        {% block content %}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="{{MEDIA_URL}} {{product.image.url}}" class="d-block w-100" alt="..." style="margin-top: 1rem">
                    </div>
                     <div class="col-lg-5" style="margin-top: 1rem">
                         <h2>{{ product.name }}</h2>
                         <p>Сорт сыра: {{ product.productCategory }}</p>
                         <p>{{ product.text }}</p>
                         <div class="row">
                             <div class="col-lg-5">
                                 <p>Цена: {{ product.price }} ₽</p>
                                 <p>Осталось: {{ product.amount }} ШТ</p>
                                 <a href="#" class="btn btn-primary">В корзину</a>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        {% endblock content %}
    </body>
</html>