<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
    <body>
        {% block content %}
            <div class="container">
                <h1>Товары в корзине</h1>
                <table class="table">
                <thead>
                    <tr>
                        <th>Фото</th>
                        <th>Название</th>
                        <th>Колличество</th>
                        <th>Цена за шт</th>
                        <th>Цена</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                        {% with product=item.product %}
                            <tr>
                                <td style="width: 10%"><img src="{{MEDIA_URL}}{{product.image.url}}" class="d-block w-100" alt="..."></td>
                                <td>{{ product.name }}</td>
                                <td>
                                     <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                         <p>{{ item.update_quantity_form.quantity }}</p>
                                         {{ item.update_quantity_form.override }}
                                         <input type="submit" value="Изменить">
                                         {% csrf_token %}
                                     </form>
                                </td>
                                <td class="num">₽ {{ item.price }}</td>
                                <td class="num">₽ {{ item.total_price }}</td>
                                <td>
                                    <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                        <input type="submit" value="Удалить">
                                        {% csrf_token %}
                                    </form>
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    <tr class="total">
                        <td>Общая цена</td>
                        <td colspan="4"></td>
                        <td class="num">₽ {{ cart.get_total_price }}</td>
                    </tr>
                </tbody>
                </table>
                <p class="text-right">
                    <a href="{% url 'products' %}" class="button light">Continue shopping</a>
                    <a href="{% url 'orders:order_create' %}" class="button">Checkout</a>
                </p>
            </div>
        {% endblock content %}
    </body>
</html>